.minisearch {    
    align:right;
}
.minisearch-input-text {
    min-height:11px;    
    font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}
div.pq-grid-toolbar-search
{
    text-align:left;
}
div.pq-grid-toolbar-search *
{
    margin:1px 5px 1px 0px; 
    vertical-align:middle;       
}
div.pq-grid-toolbar-search .pq-separator
{
   margin-left:10px;   
   margin-right:10px;   
}
div.pq-grid-toolbar-search select
{
    height:28px;    
    position:relative;
    //padding: 12px 0px;    
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 12px;
}
div.pq-grid-toolbar-search input.pq-filter-txt 
{
    
    width:120px;    
    height:29px;      
    /*padding: 12px 10px;*/
    margin-left: 20px; 
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 12px;
}
div.pq-grid-toolbar input.pq-btn-del 
{
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 12px;
    height:28px;      
    width:80px;
}

#filter-regist-px-code {
    width:80px;
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 12px;
    height:28px;          
}
#filter-regist-px-name {
    width:150px;
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 12px;
    height:28px;          
}
#filter-regist-px-price {
    width:95px;
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 12px;
    height:28px;          
}
#filter-regist-px-disc {
    width:60px;
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 12px;
    height:28px;          
}
#filter-regist-px-net {
    width:60px;
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 12px;
    height:28px;          
}
#regist_pricing {
    float:left;
    display:inline;
}
.result_date_day {
    float:left;
    width:100%;
}
.result_search_sel {
        float:left;
       width:100%;
}
.j_header_col1 {
    float: left;
    width: 12%;
}
.j_header_col2 {
    float: left;
    width: 1%;
}
.j_header_col3 {
    float: left;
    width: 35%;
}
.j_header_col4 {
    float: left;
    width: 12%;
}
.j_header_col5 {
    float: left;
    width: 1%;
}
.j_header_col6 {
    float: left;
    width: 20%;    
}
.j_header_col {
    float: left;
    width: 10%;
}
.j_header_row{
  border: 1px solid green;
  overflow: hidden;  /* "overflow: auto;" works just as well instead */
  width:100%;
  padding:10px !important;
}

.left_search_table
{
    display: table ;
    margin-left:10px;
    overflow-y: scroll;
}
.left_search_title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.left_search_heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.left_search_row
{
    display: table-row;
}
.left_search_cell1
{
    display: table-cell;
    padding-right: 5px;
    min-width:20px;
}
/*col2*/
.left_search_cell2
{
    display: table-cell;
    padding-left: -45px;
    padding-right: 5px;
    max-width:200px;    
}


.left_search_container {
        padding-left: 200px;      /* LC fullwidth */
        padding-right: 190px;     /* RC fullwidth + CC padding */
}

.left_search_container  .column {
        position: relative;
        float: left;
}

.left_search_center {
        padding: 10px 20px;       /* CC padding */
        width: 100%;
}

.left_search_left {
        width: 180px;             /* LC width */
        padding: 0 10px;          /* LC padding */
        right: 240px;             /* LC fullwidth + CC padding */
        margin-left: -100%;
}

.left_search_right {
        width: 130px;             /* RC width */
        padding: 0 10px;          /* RC padding */
        margin-right: -100%;
}
#container_left_search {
    /*max-height:400px;*/
    overflow:auto;
}
.result_em_text {
    font-family: "Open Sans Light";
    font-style: normal;    
    width:450px;
    min-height:300px;
    overflow-y: scroll;
    
}
.result_em_kesan {
    font-family: "Open Sans Light";
    font-style: normal;    
    width:450px;
    min-height:40px;
    overflow-y: scroll;
    
}
.panel-content {
    overflow-y: auto;
    max-height:500px;
    min-height:500px;
}
.regist_two_col_container {
    float:left;
    margin-top:10px;
    width:100%;
}
#regist_nett {
    width:120px;
}
#regist_payment {
    text-align:right;    
}
.payment_textbox {
    width:150px;
}
#regist_control {
    margin-top:140px !important;
}
.right-container-em {
    padding:0px;
}
.payment_frame {
    float:left;
    width:100%;
}
.payment_frame .col1 {
    float:left;    
    width:50%;
    padding-left:10px;
}
.payment_frame .pay .col1{
    float:left;
}
.payment_frame .pay .col2{
    float:left;
}
.payment_frame .pay .col3{
    padding-top:25px;
    padding-left:188px;
}
.pay_amount {
    width:150px;
}
.result_em_container {
    width:458px
}
.lab_note_container {
    padding-top:10px;
    float:left;
}
.lab_note {
    width:500px;
    min-height:60px;
}
.global_omzet_table {
    padding-top:10px;
    margin-top:10px;
    margin-left:10px;
    display:table;
}
.global_omzet_row {
     display: table-row;
}
.global_omzet_cell1 {
    display: table-cell;
    border:1px solid;
    width:80px;
}
.global_omzet_cell2 {
    display: table-cell;
    border:1px solid;
    width:100px;
}
.global_omzet_cell3 {
    display: table-cell;
    border:1px solid;
    width:200px;
}
.global_omzet_cell4 {
    display: table-cell;
    border:1px solid;
    width:400px;
}
#omzet_global_container {
    overflow-y:scroll;
    border:1px solid;
    min-height:300px;
    max-height:500px;
}
.cover1 {
    height:200px;
}
#result_print_per_lab_id {
    background-color:#9a1616 ;
    width:200px;
    height:10px;
}
.user_form {
    width:100%;
    /*border:1px dashed;*/
}
.regist_cell1 {
      float:left;
      width:100px;
      margin-top:2px;
}
.regist_cell2 {
      float:left;
      margin-top:2px;
}
.regist_cell3 {
      margin-top:2px;
      float:left;
      width:200px;
}
.regist_clearer {
     clear:both;
     height:0;
}
